/NetBeansProjects/TiendaComputadoras/build/
/TiendaHerencia/nbproject/private/
/TiendaHerencia/build/
/Robert/nbproject/private/
/Robert/build/
/Robert/dist/
/coleccionbin/target/
/evaluaciones/target/
/Evaluaciones_Salida/target/
/LeerArchivoPJava/LeerPenJ/nbproject/private/
/LeerArchivoPJava/LeerPenJ/build/
/Proyectos/target/
